body {
    width: 100%; 
    height: 5%; 
    display: flex; /* Use flexbox for centering */
    justify-content: center; /* Horizontally center contents */
    align-items: center; /* Vertically center contents */
}

fieldset {
    border: 2px solid black; /* Corrected border property */
    border-radius: 3%;
    margin: 10px;
    color: darkgrey;
    
}
input{
    margin: 5px;
    padding: 5px;
}
button{
    color: green;
    position: relative;
    left: 30%;
}
